body {
	margin: 0px;
	padding: 0px;
}

.night {
	background-color: rgb(40, 40, 40);
	color: white;

	button {
		background-color: rgb(75, 75, 75);
		color: white;
	}

	input {
		background-color: rgb(82, 82, 82);
		color: white;
	}
}
.container {
	display: grid;
	align-self: auto;
	margin: 10px;

	#menu {
		display: flex;
		justify-content: space-between;

		input {
			display: flex;
			justify-self: flex-start;
		}

		#slider {
			display: flex;
			justify-self: flex-end;
		}
	}

	.students {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		border-bottom: solid 2px black;
		h5 {
			margin: 0;
		}

		label {
			justify-self: center;
			align-self: center;
		}
	}

	.templates {
		border: solid 2px black;
		border-radius: 5px;
	}

	#modal {
		position: absolute;
		width: 200px;
		height: 70px;
		top: 50%;
		left: 50%;
		background-color: #8c8c8c;
		text-align: center;
		line-height: 70px;
		border-radius: 5px;

		transform: translate(-50%, -50%);
	}
}
