.container {
  display: grid;
  width: 80vw;

  .students {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-bottom: solid 2px black;
    // align-self: center;
    // justify-self: center;
    h5 {
      margin: 0;
    }

    label {
      justify-self: center;
      align-self: center;
    }
  }
}